.About{
    min-height: 20vh;
}

.mission-statements{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 0 auto;
    padding-bottom: 5em;
}


.mission-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    flex: 2 1 auto;
}

.mission-text h2{
    font-size: 2.2rem;
}

.mission-text p{
    font-size: 1.5rem;
    padding: 20px;
    color: var(--body);
    text-align: justify;
}

.img-contain{
    display:flex;
    align-content: center;
    padding: 10px;
    width: 100%;
}

.img-contain img{
    width:100%;
    min-height:80%;
    object-fit: contain;
    padding-bottom: 30px;
}

@media screen and (max-width:700px) {
    .mission-text h2{
        font-size: 1.6rem;
    }
    
    .mission-text p{
        font-size: 1.15rem;
    }
}