.foot{
    display:grid;
    align-items: center;
    width:100%;
    grid-template-columns: 2fr 1fr;
    width:90%;
    margin: 0 auto;
    padding-bottom: 35px;
}


@media screen and (max-width: 640px) {
    .foot{
        grid-template-columns: 1fr;
        gap: 5px;
    }

    h4{
        font-size: 0.8rem;
    }
}