/* .services{
    min-height: 70vh;
} */
.services-grid{
    display: grid;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(min(500px,50%), 1fr));
    padding-bottom: 5em;
}

.service{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
}

.service-image{
    display:flex;
    align-content: center;
}

.service-image img{
    /* width:50px;  change on smaller screens*/
    width:100px;
    height:100%;
    object-fit: contain;
}

.service-details{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.service-details span{
    font-size: 1.8rem;
    font-weight: 700;
    padding: 5px;
    color: var(--heading);
}

.service-details p{
    padding: 5px; 
    font-size: 1.5rem;
    color: var(--oneshade);
    /* font-size: 0.7rem;   coss  */
}

.call-form2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-form2 a{
    /* border: 2px solid; */
    padding: 15px 30px;
    width: 250px;
    font-size: 1.5rem;
    background-color: var(--action);
    color: #ffff;
    text-align: center;
    
}

.call-form2 a:hover{
    transform: scale(1.2);
}



/* Form */




button{
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    background-color: var(--action);
    color: white;
    border: none;
    font-size: 1.3em;
}

button:hover{
    transform: scale(1.2);
}


@media screen and (max-width:1024px) {
    .service-details span{
        font-size: 1.2rem;
    }

    .service-details p{
        font-size: 1rem;
    }

    .call-form2 a{
        width: 170px;
        font-size: 0.9rem;
        
    }


    .services-grid{
        grid-template-columns: repeat(auto-fit, minmax(min(400px,50%), 1fr));
    }
}   

@media screen and (max-width:912px) {

    .services-grid{
        grid-template-columns: repeat(auto-fit, minmax(min(300px,50%), 1fr));
    }
}   