/* .overlay-div{
    width : 100vw;
    height : 100vh;
    background-color: #ffffff;
    /* position: fixed; */
    /* change to fixed on modal */
    /* display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    transition: 0.3s;
    top:0;
    left:0;
    bottom:0;
    right:0;
}  */


form{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
    max-width: 60%;
    border-radius: 10px;
    padding-top: 90px;
}

.error-fix{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

form h2{
    text-align: center;
    color: var(--heading);
    /* background-color: #ffffff; */

}

form label{
    margin-bottom: .5rem;
    font-size: 1.3rem;
    color: var(--heading);

}

form input, textarea{
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid;
}

form fieldset{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 1rem;
    font-size: 1.3em;
}

form fieldset p{
    color:#1B1B1B;
    font-size: .7em;
}

form fieldset legend{
    color: #1B1B1B;;
    font-size: 1.1em;
}

form fieldset label{
    color: #1B1B1B;;
    font-size: 1.1em;
}

button{
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    background-color: var(--action);
    color: white;
    border: none;
    font-size: 1.3em;
}

button:hover{
    transform: scale(1.2);
}

.call-form{
    /* border: 2px solid; */
    padding: 15px 30px;
    width: 150px;
    background-color: var(--action);
    color: #ffff;
    text-align: center;
    
}

.call-form a:hover{
    transform: scale(1.2);
}

::placeholder {
    color: #1B1B1B;
    font-size: 1.5em;
}

.options{
    display: flex;
    padding: 20px;
}

@media screen and (max-width:700px) {

    form {
        max-width: 80%;
    }

    form label{
        font-size: 0.7em;
    }

    form input, textarea{
        font-size: 0.7rem;
    }

    form fieldset{
        font-size: 0.9em;
    }

    form fieldset p{
        font-size: .5em;
    }
    
    form fieldset legend{
        font-size: 0.8em;
    }
    
    form fieldset label{
        font-size: 0.7em;
    }

    form p{
        font-size: 0.5em;
    }

    form h2{
        font-size: 1.2em;
    }

    form button{
        padding: 10px;
        width: 100px;
        margin: 0 auto;
        background-color: var(--action);
        color: white;
        border: none;
        font-size: 0.7em;
    }

    /* .overlay-div{
        width : 100vw;
        height : 100vh;
        background-color: #ffffff;
        position: fixed;
        top:80px;
        left:0;
        bottom:80px;
        right:0;
    } */
    

}