.overlay-div{
    padding-top: 7vh;
    background-image: url(../assets/images/formdesktop.jpg) ;
    background-repeat: no-repeat;
    background-position: left center;

    /* display: flex; */
    /* justify-content: flex-end; */

}

/* /* .form-img{
    display: flex;
    align-items: center;
    width:90%;

}

.form-image img{
    width: 700px;
    max-height: 900px;
}
.form-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
 */


form{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 10vh auto;
    width:20%;
    border-radius: 10px;
    padding-top: 30px;
    background-color: #fff;

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.datadiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.datadiv label{
    max-width: 30%;
    flex: 1 1 30%;
}

.datadiv input{
    flex: 1 1 70%;
}

.error-fix{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

form h2{
    text-align: center;
    color: var(--heading);
    background-color: #ffffff;
    padding-bottom: 5px;

}

form label{
    margin-bottom: .5rem;
    font-size: 1.3rem;
    color: var(--heading);


}

form input, textarea{
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid;

}

form fieldset{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 1rem;
    font-size: 1.3em;

}

form fieldset p{
    color:#1B1B1B;
    font-size: .7em;

}

form fieldset legend{
    color: #1B1B1B;;
    font-size: 1.1em;

}

form fieldset label{
    color: #1B1B1B;;
    font-size: 0.9em;

}
form *{
    background-color: inherit;
}

.options{
    display: flex;
    padding: 20px;
}

.options button{
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    background-color: var(--action);
    color: white;
    border: none;
    font-size: 1.3em;
}





/* scale css is coming from God knows where */
.options button:hover{
    transform: scale(1.0);
} 
@media screen and (max-width:700px) {

    form {
        width: 90%;
        /* height: 60vh; */
        /* overflow-y: scroll; */
    }


    form input, textarea, form label, form fieldset,
    form fieldset legend,
    form fieldset label{
        font-size: 0.9em;
    }

    form em{
        font-size: 0.3em;
    }

    form h2{
        font-size: 1.2em;
    }
    .options button{
        font-size: 0.9em;
        width: 100px;
        padding:3px;
    }

    .field{
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr ;
    }

    .field p{
        grid-column: span 2;
    }


    /* .overlay-div{
        width : 100vw;
        height : 100vh;
        background-color: #ffffff;
        position: fixed;
        top:80px;
        left:0;
        bottom:80px;
        right:0;
    } */
    

}


@media screen and (max-width:290px) {
    form input, textarea, form label, form fieldset,
    form fieldset legend,
    form fieldset label{
        font-size: 0.4em;
    }

    .options button{
        font-size: 0.4em;
        width: 80px;
        padding:3px;
    }


}