

.landing-page{
    padding-top: 15em;  
      
}

.lbp-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 10px;
    width:90%;
    margin: 0 auto;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-text span{
    font-size: 2.7rem;
    
}

.welcome-text h2{
    font-size: 6rem;
    font-weight: 400;
    color: var(--heading);
    line-height: 90%;
}

.welcome-text p{
    font-size: 2.3rem;
    margin: 1em 0;
    width: 100%;
}

.welcome-text a{
    /* border: 2px solid; */
    padding: 15px 30px;
    width: 150px;
    background-color: var(--action);
    color: #ffff;
    text-align: center;
    
}

.welcome-text a:hover{
    background-color: var(--action);
    transform: scale(1.2);
}

.welcome-image{
    display: flex;
    align-items: center;
    width:90%;
    /* change to 100% on smaller screens */
}

.welcome-image img{
    width: 700px;
    max-height: 900px;
}

@media screen and (max-width:700px) {
    .landing-page{
        padding-top: 9em;
    }

    .welcome-text p{
        font-size: 1.3rem;
    }

    .welcome-text span{
        font-size: 1.7rem;
        
    }
    .welcome-image img{
        width: 100%;
    }
}
