@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');

:root {
  --action: #EF7B45;
  --heading: #B8336A;
  --body: #2D3142;
  --back: #EBEBEB;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
  color: var(--body);
  font-family: 'PT Sans', sans-serif;
  background-color: var(--back);
}

section{
  max-width: 95%;
  margin: 0 auto;
  min-height: 95vh;
  /* border: 2px green solid; */
}

img{
  opacity: 80%;    
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
